/*
* Made by Arne Otten
* www.mj-12.net
* 17/12/2018
*/

#header {
  padding: 20px 0px 20px 20px;
}

#header img{
  max-width: 300px;
  float: left;
  clear: right;
}

#header h4 {
  position: absolute;
  white-space: nowrap;
  left: 700px;
  padding-left: 20px;
  border: 0;
  border-left: 3px;
  border-style: solid;
  line-height: 2;
}

#left {
  width: 50%;
  margin: 0;
  padding: 20px 20px 0 20px;
}

#left p.nothing {
  text-align: center;
  vertical-align: middle;
  margin-top: 30%;
  font-size: 30px;
}

#left table {
  table-layout: fixed;
  width: 100%;
}

td {
  width: 25%;
}

#left table.past {
  border: 5px solid #00305f;
}

#left table.current {
  border: 5px solid #005300;
}

#left tr:nth-child(even) {
  background-color: #f2f2f2;
}

#left thead {
  color: white;  
  font-size: 30px;
}

#left thead.past {
  background-color: #00305f;
}

#left thead.current {
  background-color: #005300;
}

#left th {
  text-align: center;
  padding: 5px 5px;
}

#left th.leftpad, #left td.leftpad {
  text-align: left;
  padding-left: 7%;
}

#left td {
  text-align: center;
  font-size: 20px;
  border-bottom-color: black;
}

#left tr.current{
  background-color: #99ff99;
}

#right {
  width: 50%;
  margin: 0;
  padding: 20px 20px 0 20px;
}

#right article {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
	border-radius: 10px;
  margin: 0 0 2em 0;
  padding: 10px;
  min-height: 100px;
}

#right article p.createdDate{
  float: right;
  position: absolute;
  right: 1em;
  bottom: 1%;
  margin: 10px 0px 0px 0px;
}

#right article p.link{
  float: left;
  position: absolute;
  left: 1em;
  bottom: 1%;
  margin: 10px 0px 0px 0px;
}

#right article.internal {
  background-color: #ccf1ff;
  border: 3px solid #ddd;
}
