/*
* Made by Arne Otten
* www.mj-12.net
* 08/07/2018
*/

h3{
  border-bottom: 1px solid #eeee;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  min-width: 230px;
  max-width: 400px;
  display: block;
  margin: 1em auto;
}

p.response {
  text-align: center;
}

.button{
  min-width: 230px;
  max-width: 400px;
  display: block;
  margin: 1em auto;
}

input[type="submit"].button-primary.delete {
  background-color: #dc3545;
  border-color: #dc3545;
}

input[type="submit"].button-primary.delete:hover {
  background-color: #c82333;
}

input[type="submit"].button-primary.disabled {
  background-color: grey;
  border-color: grey;
  cursor: not-allowed;
}

a.del{
  border-radius: .25rem;
  background-color: #dc3545;
  padding: 10px 10px 10px 10px;
}

a.del:hover{
  background-color: #c82333;
  cursor: pointer;
}

a.edit{
  border-radius: .25rem;
  background-color: #007bff;
  padding: 10px 10px 10px 10px;
}

a.edit:hover{
  background-color: #0069d9;
  cursor: pointer;
}

a.save{
  border-radius: .25rem;
  background-color: #28a745;
  padding: 10px 10px 10px 10px;
  display: none;
}

a.save:hover{
  background-color: #218838;
  cursor: pointer;
}

a.abort{
  border-radius: .25rem;
  background-color: #dc3545;
  padding: 10px 10px 10px 10px;
  display: none;
}

a.abort:hover{
  background-color: #c82333;
  cursor: pointer;
}

img.icon-btn{
  width: 22px;
  vertical-align: -5px;
}

img.icon-btn:hover {
  cursor: pointer;
}

a.button.disabled{
  pointer-events: none;
  cursor: default;
}

input, select{
  min-width: 230px;
  max-width: 400px;
  width: 100%;
  display: block;
  margin: 1em auto;
}

input[type="checkbox"]#publish {
  max-width: 10px;
  min-width: 0px;
  margin-right: 1em;
}

textarea {
  min-width: 400px;
  max-width: 400px;
  min-height: 115px;
  display: block;
  margin: 1em auto;
}

.twelve.columns#menu{
  text-align: center;
  margin-top: 10%;
}

.twelve.columns#search{
  text-align: center;
}

.six.columns.manage{
  text-align: center;
  margin-left: 0%;
}

.twelve.columns.manage{
  display: block;
  text-align: center;
  margin-left: 0%;
}

table#resultTable p {
  margin-bottom: 0;
}

table#resultTable form {
  margin-bottom: 0;
}

table#resultTable input {
  display: none;
  min-width: 0px;
  width: 9em;
}

table#resultTable select {
  display: none;
  min-width: 0px;
  width: 9em;
}

table#resultTable tr a{
  visibility: hidden;
}

table#resultTable tr:hover a{
  visibility: visible;
}

table#resultTable tr:hover td{
  background: #e9f3fb;
  transition: background .2s ease;
}

th.headerSortUp, th.headerSortDown {
  color: #3399FF;
}

th.headerSortUp {
  background-image: url(../images/asc.gif);
}

th.headerSortDown {
  background-image: url(../images/desc.gif);
}

th.head {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    text-align: center;
}

td {
  text-align: center;
}

table#resultTable form button {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .twelve.columns#menu{
    text-align: center;
    margin-top: 10%;
  }
}
