/*
* Made by Arne Otten
* www.mj-12.net
* 08/07/2018
*/

h3{
  border-bottom: 1px solid #eeee;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  min-width: 230px;
  max-width: 400px;
  display: block;
  margin: 1em auto;
}

.button{
  min-width: 230px;
  max-width: 400px;
  display: block;
  margin: 1em auto;
}

a.button.disabled{
  pointer-events: none;
  cursor: default;
}

input {
  min-width: 230px;
  max-width: 400px;
  width: 100%;
  display: block;
  margin: 1em auto;
}

.twelve.columns#menu{
  text-align: center;
  margin-top: 20%;
}

.twelve.columns#search{
  text-align: center;
}

img:hover {
  cursor: pointer;
}

table#resultTable form {
  margin-bottom: 0;
}

table#resultTable tr button{
  visibility: hidden;
}

table#resultTable tr:hover button{
  visibility: visible;
}

table#resultTable tr:hover td{
  background: #e9f3fb;
  transition: background .2s ease;
}

th.headerSortUp, th.headerSortDown {
  color: #3399FF;
}

th.headerSortUp {
  background-image: url(../images/asc.gif);
}

th.headerSortDown {
  background-image: url(../images/desc.gif);
}

th.head {
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    text-align: center;
}

td {
  text-align: center;
}

table#resultTable form button {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .twelve.columns#menu{
    text-align: center;
    margin-top: 10%;
  }
}
