div.line {
    margin-top: 8%; 
    background-color: gray;
    padding: 1em 0 1em 0;
}

div.line h1 {
    color: white;
    margin: 30px 0 30px 30px;
    font-size: 35px;  
}

div.status {
    margin-top: 30px;
    padding-left: 1em;
    text-align: center;
    /* background-color: bisque; */
}

div.status h2 {
    font-size: 35px;
}

div.logos {
    position: absolute;
    left: 2%; 
    bottom: 2%;
}

div.logos img {
    max-width: 150px;
    float: left;
    clear: right;
    margin-left: 20px;
}

div.switch {
    position: absolute;
    right: 5%; 
    bottom: 2%;
}

div.switch button {
    background-color:gray;
    border-color: gray;
    width: 100px;
}

div.switch button:hover, div.switch button:focus {
    background-color: gray;
    border-color: gray;
}

